:root {
    --white: #fff;
    --white30: #ffffff4d;
    --smokeWhite: #e5e5e5;
    --hoveredGrey: #b3b3b3;
    --midGray: #6d6d6eb2;
    --gray: #808080;
    --black: #141414;
    --red: #b9090b;
    background-color: var(--black);
    overflow-x: hidden;
  }
  #chart_8 {
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }

  .canciones_escuchadas_cada_una {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canciones_escuchadas_cada_una > div {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .canciones_escuchadas_cada_una div.chart-container {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    border: 1px solid #ccc;
    /* Otros estilos de diseño para los gráficos */
  }
  #chart_3_olivia {
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }
  #chart_3_luisa {
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }
  #chart_3_solva {
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    width: 50%; /* Ajusta el ancho según tus necesidades */
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:white;

  }

  .header {
    display: flex;
    align-items: center;
    background-color: rgba(66, 66, 66, 0.236);
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 40px;
    margin: 0; /* Reemplaza margin-top y margin-bottom con margin: 0; para eliminar todos los márgenes */
  }
  
  
  .profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  .content {
    padding: 20px;
    
  }
  

  h2 {
    font-size: 24px;
    margin-bottom: 40px;
    
  }
  
  .artist-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  
  }
  
  .artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }
  
  .artist img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .song-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .songluisa {
    display: flex;
    align-items: center;
    width: calc(18% - 18px);
    height: 80px;
    background-color: #6823D3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .songluisa img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .songluisa p {
    font-size: 14px;
    margin: 0;
    color: var(--white);
  }
  
  .songolivia {
    display: flex;
    align-items: center;
    width: calc(18% - 18px);
    height: 80px;
    background-color: #D32373;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .songolivia img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .songolivia p {
    font-size: 14px;
    margin: 0;
    color: var(--white);
  }

  .songsolva {
    display: flex;
    align-items: center;
    width: calc(18% - 18px);
    height: 80px;
    background-color: #23B0D3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .songsolva img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .songsolva p {
    font-size: 14px;
    margin: 0;
    color: var(--white);
  }
  .sticky-bar {
    position: sticky;
    top: 0;
    background-color:#141414;
    padding: 10px;
    text-align: center;
  }